@use "../index" as Index;

.header {
  position: relative;
  background-image: url("../images/small_meeting_Dollarphotoclub_86379057_0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.446);

    @media (max-width: 767px) {
      background-color: transparent !important;
    }
  }
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.read-more {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.81);
  width: 30%;
  min-height: 20vh;
  color: white;
  margin: 0 auto;
  padding: 1em 2em 1em;
  @include Index.flex-center;
  flex-direction: column;
  border-radius: 5px;
}

.read-more h3 {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: Index.$gutter;
}

.read-more p {
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: Index.$gutter * 2;
  text-align: center;
  color: white;
}

@media (max-width: 767px) {
  .header {
    height: 90vh;
  }

  .read-more {
    top: auto;
    bottom: 0;
    transform: none;
    width: auto;
    min-height: 10vh;
  }
}
