.hero-logo {
  height: 6em;
  padding: 0.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.html-box,
.css-box,
.js-box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.html-box,
.css-box,
.js-box p,
h2 {
  margin: 0.3em;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  .html-box,
  .css-box,
  .js-box {
    flex-direction: column;
    margin-bottom: 12px;
  }
}
