// .navbar-wrapper {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
// }

nav {
  background-color: rgba(0, 0, 0, 0.81);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  height: auto;
}

.logo img {
  height: auto;
  width: 8em;
}

.icons {
  display: flex;
  position: relative;
}

.icons button {
  background-color: transparent;
  color: white;
  font-size: 2em;
  border: none;
  cursor: pointer;
  padding: 0.2em;
}
