@use "../index" as Index;

nav {
  background-color: rgba(0, 0, 0, 0.721);
  @include Index.flex-center;
  justify-content: space-between;
  padding: 0 1em;
  color: white;
}

.logo {
  @include Index.flex-center;
  height: auto;
}

.logo img {
  height: auto;
  width: 8em;
}

.icons {
  display: flex;
  position: relative;
}

.icons button {
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  padding: 0.2em;
}
