.scroll-icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 768px) {
  .scroll-icon {
    display: none;
  }
}
